/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #283953;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #172131;
}


@media only screen and (min-width: 360px) {
	.img-personal {
		height: 300px;
		margin-top: -200px;
		z-index: 1;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		transition: width 1s ease-in-out, left 1.5s ease-in-out;
	}

	.header-about {
		padding-top: 0px !important;
	}

}

@media only screen and (min-width: 480px) {
	.img-personal {
		height: 400px;
		margin-top: -200px;
		z-index: 1;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		transition: width 1s ease-in-out, left 1.5s ease-in-out;
	}

	.header-about {
		padding-top: 0px !important;
	}
}

@media only screen and (min-width: 600px) {
	.img-personal {
		height: 500px;
		margin-top: -200px;
		z-index: 1;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		transition: width 1s ease-in-out, left 1.5s ease-in-out;
	}

	.header-about {
		padding-top: 0px !important;
	}
}

@media only screen and (min-width: 768px) {
	.img-personal {
		height: 600px;
		margin-top: -200px;
		z-index: 1;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		transition: width 1s ease-in-out, left 1.5s ease-in-out;
	}

	.header-about {
		padding-top: 0px !important;
	}
}

@media only screen and (min-width: 992px) {
	.img-personal {
		height: 700px;
		margin-top: -200px;
		margin-left: -150px;
		z-index: 1;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		transition: width 1s ease-in-out, left 1.5s ease-in-out;
	}

	.header-about {
		padding-top: 130px !important;
	}

}

@media only screen and (min-width: 1200px) {
	.img-personal {
		height: 750px;
		margin-top: -200px;
		margin-left: -150px;
		z-index: 1;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
		transition: width 1s ease-in-out, left 1.5s ease-in-out;
	}

	.header-about {
		padding-top: 130px !important;
	}
}


.header-about {
	padding-top: 0px;
}

.text-bold {
	font-weight: 500;
}

.card-auto {
	min-height: 280px;
}

.mh-50 {
	min-height: 50px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.m-50 {
	margin-bottom: 30px;
}

.my-target {
	padding-top: 65px;
	margin-top: -65px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb--10 {
	margin-bottom: -10px;
}

.mr-10 {
	margin-right: 10px;
}

.mb--20 {
	margin-bottom: -20px;
}

.mb--2 {
	margin-bottom: -2px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-10 {
	padding-top: 10px;
}

.p-50 {
	padding: 50px;
}

.header-next {
	background: url('../img/personal/img-bg1.svg') no-repeat center center;
}

.title-custom {
	margin-bottom: 30px;
}

.borderize-title {
	border-bottom: 4px solid #3C4858;
	width: 200px;
}

.borderize-title-secondary {
	border-left: 4px solid #6286BF;
	padding-left: 10px;
}

#btn-up {
	display: inline-block;
	background-color: #172131;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	position: fixed;
	bottom: 70px;
	right: 30px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

#btn-up::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#btn-up:hover {
	cursor: pointer;
	background-color: #3C4858;
}

#btn-up:active {
	background-color: #555;
}

#btn-up.show {
	opacity: 1;
	visibility: visible;
}